<div class="feedback block">
	<div class="wrapper">
		<div class="methods__title">
			<h2 class="title">Обратная связь</h2>
		</div>
		<div class="feedback__content">
			<div class="feedback__form">
				<form action="" class="form">
					<input type="text" placeholder="Имя">
					<input type="tel" placeholder="Телефон">
					<input type="email" placeholder="E-mail">
					<input type="submit" class="form__button button button_green">
					<textarea placeholder="Сообщение"></textarea>
				</form>
			</div>
		</div>
	</div>
</div>