<div class="methods block">
	<div class="wrapper">
		<div class="methods__title">
			<h2 class="title">Примеры работ</h2>
		</div>
		<div class="methods__content">
			<div class="methods__media">
				<a href="" class="methods__img" style="background-image: url(../img/methods/1.png);"></a>
				<a href="" class="methods__img" style="background-image: url(../img/methods/2.png);"></a>
				<a href="" class="methods__video" style="background-image: url(../img/methods/3.png);"></a>
			</div>
			<div class="methods__text">
				<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
				<p class="text-center">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
				<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			</div>
			<div class="methods__steps steps">
				<div class="steps__sheme">
					<a href="" class="steps__img"></a>
				</div>
				<div class="steps__list list">
					<div class="list__step">
						<span>01</span>
						<p>Проектирование и согласование с заказчиком</p>
					</div>
					<div class="list__step step-center">
						<span>02</span>
						<p>Приобретение и доставка всех необходимых материалов</p>
					</div>
					<div class="list__step">
						<span>03</span>
						<p>Непосредственно блогоустройство участка</p>
					</div>
					<a href="" class="list__button button button_green">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</div>