<div class="reviews block-grey">
	<div class="wrapper">
		<div class="reviews__title">
			<h2 class="title">Отзывы наших клиентов</h2>
		</div>
		<div class="reviews__content">
			<div class="reviews__info">
				<div class="reviews__text">
					Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. 
				</div>
				<div class="reviews__amt">
					<span>164</span>
					<a href="">Положительных отзывов</a>
				</div>
				<a href="" class="reviews__button button button_green">Оставить отзыв</a>
			</div>
			<div class="reviews__slider">
				<div class="slider-reviews">
					<div class="slider-reviews__slide">
						<div class="reviews__slide slide">
							<p> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
							<div class="slide__author">
								<a style="background-image: url(../img/reviews/1.png);"></a>
								<p>Имя клиента</p>
							</div>
						</div>
					</div>
					<div class="slider-reviews__slide">
						<div class="reviews__slide slide">
							<p> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Velit officia consequat duis enim velit mollit. </p>
							<div class="slide__author">
								<a style="background-image: url(../img/reviews/2.png);"></a>
								<p>Имя клиента</p>
							</div>
						</div>
					</div>
					<div class="slider-reviews__slide">
						<div class="reviews__slide slide">
							<p> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
							<div class="slide__author">
								<a style="background-image: url(../img/reviews/1.png);"></a>
								<p>Имя клиента</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>